@import "../../../../styles.scss";

.table-row{
  display: flex;
  align-items: center;
  background-color: $color-yellow;
  border-radius: 25px 5px 5px 25px;
  margin-top: 5px;
  justify-content: space-between;
  padding:  $app-padding;
  &:hover {
    background-color: $color-orange;
    cursor: pointer;
    .table-row__id, .table-row__name {
      color: $color-white;
    }
  }

  .table-row__id, .table-row__name {
    font-family: 'PressStart';
    color: $color-brown;
  }
}
