@import '../../../../styles.scss';

.filter {
  margin-bottom: 20px;
  .filter__form{
    display: flex;
    flex-direction: column;

    .filter__form-input, .filter__form-input-hint{
      font-family: 'PressStart';
    }

    .filter__form-input {
      padding:  $app-padding;
      border-radius: 25px 25px 25px 25px;
      background-color: $color-white;
    }

    .filter__form-input-hint{
      font-size: $small-font;
      color: $color-red;
      margin-top: 5px;
    }
  }
}
