.home{
  .home__loading{
    position: absolute;
  }
  .table__content{
    padding-top: 5em;
    width: 50%;
    margin: auto;

    @media screen and (max-width: 768px) {
      width: 80%;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      width: 65%;
    }

  }
}
