@import '../../../../styles.scss';

:host{
  flex:2;
  display: flex;
  .picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    .picture__img{
      image-rendering: pixelated;
      height: 100%;
      padding: $app-padding;
      position: relative;
    }
  }
}
