/* You can add global styles to this file, and also import other style files */
$color-yellow: #FFEE04;
$color-orange: #FF6002;
$color-brown: #7F5600;
$color-white: #FFE8B6;
$color-red: #FF1203;
$color-background: #89E8FF;

$small-font: 8px;

@font-face {
  font-family: 'PressStart';
  src: url('assets/fonts/Press_Start/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $color-background;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}
